@use "./utils/" as *;

.contacts {
  padding-top: 5.5rem;
  width: 100%;
  padding-bottom: 6rem;
  &__header {
    height: 130px;
    background-color: rgb(243, 244, 246);
    @include flex(center, center);
    h2 {
      font-weight: 500;
      color: #333;
      font-size: 2rem;
    }
  }

  &__content {
    padding-top: 5rem;
    font-family: "Roboto", sans-serif;

    @include breakpoint-up("medium") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up("xlarge") {
      grid-template-columns: repeat(3, 1fr);
    }
    &__box {
      border: 1px solid #e4e4e4;
      padding: 2rem;
      transition: all 0.5s ease;

      &:hover {
        border: 1px solid var(--hover-color);
      }

      &__img {
        width: 50px;
        height: 50px;
        color: #fff;
        background-color: var(--main-color);
        @include flex(center, center);
        transition: all 0.5s ease;

        svg {
          font-size: 1.4rem;
        }

        &:hover {
          background-color: var(--hover-color);
        }
      }

      h4 {
        font-weight: 600;
        font-size: 22px;
        color: #333;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 16px;
        font-weight: 500;
        color: #2c2c2c;
      }
    }
  }

  &__form {
    padding-top: 4rem;

    h2 {
      font-size: 26px;
      font-weight: 600;
      color: #333;
      padding-bottom: 2rem;
    }

    &__content {
      &__inputs {
        @include breakpoint-up("large") {
          grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up("xlarge") {
          grid-template-columns: repeat(3, 1fr);
        }
      }
      &__message {
        padding-top: 1.5rem;

        textarea {
          font-size: 15px;

          width: 100%;

          padding: 10px;
          border-radius: 3px;
          color: #2c2c2c;
          border: 1px solid #e4e4e4 !important;
          background: transparent;
          box-shadow: none;
        }
      }
    }

    &__button {
      padding-top: 1rem;
      .button {
        width: 200px;
      }
    }
  }
}
