@use "./utils/" as *;
.footer {
  background-color: var(--color-grey);
  color: #2c2c2c;

  padding-bottom: 5rem;

  &__container {
    row-gap: 2rem;

    @include breakpoint-up("medium") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up("large") {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint-up("xlarge") {
      grid-template-columns: repeat(5, 1fr);
    }

    .logo {
      h3 {
        margin-top: 1rem;
      }
      p {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }

  &__title {
    font-size: 22px;
    margin-bottom: 0.75rem;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -40%;
      left: 8%;
      transform: translateX(-50%);
      width: 15%;
      transition: width 0.5s ease;
      height: 2px;
      background-color: var(--main-color);
    }
  }

  &__logo {
    display: inline-block;
  }

  &__description,
  &__links {
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__links {
    display: grid;
    row-gap: 0.5rem;

    li {
      &:hover {
        color: var(--hover-color);
      }
    }
  }

  &__link {
    color: #333;
  }

  &__social {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    li {
      svg {
        font-size: 22px;
        transition: all 0.5s ease;

        &:hover {
          color: var(--hover-color);
          cursor: pointer;
        }
      }
    }
  }

  &__copyright {
    margin-top: 5rem;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
  }
  .icam {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
  }
}
