@use "./utils/" as *;
.footer {
  background-color: var(--color-grey);
  color: #2c2c2c;
  padding-bottom: 2rem;
  padding-bottom: 8rem;

  &__container {
    row-gap: 2rem;

    @include breakpoint-up("medium") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up("large") {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint-up("xlarge") {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__logo,
  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.75rem;
  }

  &__logo {
    display: inline-block;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }

  &__description,
  &__links {
    font-size: var(--small-font-size);
  }

  &__links {
    display: grid;
    row-gap: 0.5rem;

    li {
      &:hover {
        color: var(--theme-color);
      }
    }
  }

  &__link {
    color: #2c2c2c;
  }

  &__social {
    display: grid;
    row-gap: 0.5rem;

    &__form {
      width: 100%;

      &__subscribe {
        display: flex;
      }

      input {
        flex: 3;
      }

      svg {
        font-size: 1.2rem;
      }

      button {
        flex: 1;
        width: 100%;
        text-transform: capitalize;
        font-size: 16px;
        background-color: #2c2c2c;
        color: #fff;
        padding: 0;
        height: 50px;
        line-height: 50px;
        transition: var(--transition);
        &:hover {
          background-color: transparent;
          border: 1px solid #2c2c2c;
          color: #2c2c2c;
        }
      }
    }
    &-link {
      font-size: 1.25rem;
      color: #2c2c2c;
    }
  }

  &__copyright {
    margin-top: 5rem;
    text-align: center;
    font-size: var(--small-font-size);
    color: #2c2c2c;
  }
}
