@use "./utils/" as *;

.mobile {
  background-color: #fff;
  &__close {
    text-align: end;
    padding: 22px 20px;

    &-icon {
      font-size: 1.5rem;
      font-weight: 600;

      color: #2c2c2c;

      &:hover {
        color: var(--font-custom-color);
      }

      @include breakpoint-up("large") {
        font-size: 1.3rem;
      }
    }
  }
  &__menu {
    @include breakpoints-down("medium") {
      width: 100%;
      height: 100vh;
      padding: 6rem 2rem 3.5rem;
      transition: var(--transition);
    }

    &__list {
      li {
        a {
          font-size: 1.2rem;
          letter-spacing: 0.5px;
          &:hover {
            color: var(--hover-color);
          }
        }
      }

      @include breakpoints-down("medium") {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
      }
    }
  }
}
