@use "./utils/" as *;
.notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h1 {
    font-size: 4rem;
    color: #333;
    width: 600px;
    margin: 0 auto;
    line-height: 1.3;

    @include breakpoints-down("small") {
      font-size: 2rem;
    }
  }
}
