@use "./utils/" as *;

.orderDetails {
  padding: 3rem 0;
  @media screen and (min-width: 1080px) {
    padding: 7rem 0;
  }

  font-family: "Roboto", sans-serif;

  @include breakpoint-up("large") {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  &__container {
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      color: #2c2c2c;
      span {
        font-size: 1.1rem;
        @media screen and (min-width: 456px) {
          font-size: 1.5rem;
        }
      }
    }
    &__box {
      margin-bottom: 1.4rem;
      h3 {
        font-size: 1.4rem;
        color: #2c2c2c;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

      > div {
        display: flex;

        justify-content: space-between;
      }

      .address {
        margin-right: 2rem;
      }
    }
  }

  &__cartItems {
    h3 {
      margin-bottom: 1.5rem;
    }
    &__container {
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 60px;
        }
      }
    }
  }
}
