@use "./utils/" as *;

.shop {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.products {
  padding-bottom: 5rem;

  &__container {
    margin-top: 5rem;

    @include breakpoint-up("large") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up("xlarge") {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      transition: all 0.5s ease;
      img {
        max-width: 100%;
      }
      border: 1px solid #e4e4e4;

      div {
        text-align: center;

        background-color: rgb(244, 244, 244);
        padding: 15px;

        h3 {
          font-size: 22px;
          font-weight: 700;
          color: #2c2c2c;
          transition: var(--transition);
          &:hover {
            cursor: pointer;
            color: var(--hover-color);
          }
        }

        h5 {
          font-size: 20px;
          font-weight: 700;
          color: var(--main-color);
          margin: 1rem 0;
        }

        div {
          margin-top: 0;
          padding-top: 0;
          @include flex(center, center);
          .button {
            width: 170px;
            height: 45px;
            line-height: 45px;
            font-size: 15px;
            font-weight: 600;
            @include flex(center, center);

            svg {
              font-size: 15px;
              font-weight: 600;
              margin-right: 0.3rem;
            }
          }
        }
      }

      &:hover {
        border: 1px solid var(--hover-color);
      }
    }
  }
}
