@use "./utils/" as *;

.protected-section {
  padding-bottom: 5rem;
}
.protected {
  height: 100vh;
  background: url("../../assets/images/protected-area.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  //   @include flex(center, flex-start);
  display: flex;
  //   align-items: flex-start;
  justify-content: flex-start;
  align-items: center;

  &__overlay {
    position: absolute;
    content: "";
    background: rgba(19, 59, 102, 0.301);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__content {
    z-index: 10;

    p {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 600;
    }

    h2 {
      color: var(--main-color);
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.3;

      @include breakpoints-down("medium") {
        font-size: 3rem;
      }
    }

    h5 {
      font-size: 1.7rem;
      font-weight: 600;
      color: #fff;
      margin: 1rem 0;
      margin-bottom: 1.5rem;
      line-height: 1.3;
    }
    .button {
      width: 200px;
    }
  }
}
