@use "./utils/" as *;
.updateOrderForm {
  //   margin: 0 3rem;

  background-color: white;

  > div {
    display: flex;
    width: 100%;
    align-items: center;

    > select {
      padding: 0.8rem 2rem;
      margin: 1.5rem 0;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.267);
      border-radius: 4px;
      font-weight: 300;
      font-size: 16px;
      outline: none;
    }

    > svg {
      position: absolute;
      transform: translateX(1vmax);
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.623);
    }
  }
}
