@use "./utils/" as *;

.table__container {
  margin: 40px auto 0;
  &__table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #2c2c2c;

      tr {
        th {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.35px;
          color: #fff;
          opacity: 1;
          padding: 12px;
          vertical-align: top;
          border: 1px solid #dee2e685;
        }
      }
    }

    tbody {
      tr {
        .action {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
        td {
          font-size: 14px;
          letter-spacing: 0.35px;
          font-weight: normal;
          color: #2c2c2c;
          background-color: #fff;
          padding: 10px;
          text-align: start;
          border: 1px solid #dee2e685;
          &:nth-child(4) {
            text-align: center;
          }

          .edit {
            color: #2c2c2c;
            font-size: 17px;
          }

          .remove {
            color: #fff;
            background-color: rgb(177, 4, 4);
            margin-left: 1rem;
            font-size: 22px;
            padding: 0.2rem;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
